
<mat-card>
    <table mat-table [dataSource]="dataSet">

        <mat-header-row  mat-header-row *matHeaderRowDef="columnKeys()"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnKeys()" matRipple></mat-row>

        <ng-container *ngFor="let column of columns; let last = last" [matColumnDef]="column.objectKey">
            <mat-header-cell *matHeaderCellDef>
            <div> {{ column.title }} </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="cursor: pointer;"> {{ element[column.objectKey] }} </mat-cell>
        </ng-container>
      
    </table>

    <button mat-icon-button color="primary" style="position: absolute; z-index: 3; top: 8px; right: 8px;"> <mat-icon> add </mat-icon> </button>

</mat-card>

<!-- <tr mat-footer-row *matFooterRowDef="['title']"></tr> <td mat-footer-cell *matFooterCellDef> Footer </td> -->
