
mat-card {
    padding: 0px;

    table {
        width: 100%;

        #last-column-header {
            background-color: orange;
            display: flex;
            #spacer {
                flex: 1;
            }
        }
    }
}
