
<mat-card>

    <div id="header">

        <div *ngFor="let column of columns; let last = last" [style.flex]="column.flex ? column.flex : '1'" [style.text-align]="column.textAlign" class="column-header">
            
            <span> {{ column.title }} </span>
            <span *ngIf="last" id="spacer"></span>
            <button mat-icon-button *ngIf="last && showCreateButton" color="primary" (click)="createItem.emit()">
                <mat-icon> add </mat-icon>
            </button>

        </div>

    </div>

    <mat-divider></mat-divider>

    <div *ngFor="let item of items">

        <button mat-menu-item (click)="selectItem.emit(item.id)" matTooltip="{{item[tooltipAttributeName]}}" class="row">

            <div *ngFor="let column of columns" [style.flex]="column.flex ? column.flex : '1'" [style.text-align]="column.textAlign" class="row-column">

                <span> {{ rewriteRule ? rewriteRule(column.objectKey, item[column.objectKey]) : item[column.objectKey] }} </span>

            </div>

        </button>

        <mat-divider></mat-divider>

    </div>

    <div id="footer" * ngIf="noDataText || footerText">
        <i *ngIf="items.length === 0 && noDataText"> {{ noDataText }} </i>
        <i *ngIf="items.length !== 0 && footerText"> {{ footerText }} </i>
    </div>
    
</mat-card>
