
<mat-card>

    <mat-toolbar>

        <div>
            <button mat-button (click)="sideNavIsExpanded = !sideNavIsExpanded">
                <mat-icon> menu </mat-icon>
            </button>
        </div>

        <div id="title-button">
            <button mat-button (click)="navigateTo('Startseite')">
                <img src="assets/fitcom-logo.png">
            </button>
        </div>
        
        <div id="user-button">
            <button mat-button (click)="signIn()"> Anmelden </button>
        </div>

    </mat-toolbar>

    <mat-progress-bar mode="indeterminate" *ngIf="appService.isLoading"></mat-progress-bar>

</mat-card>

<mat-sidenav-container hasBackdrop="false">

    <mat-sidenav mode="over" [(opened)]="sideNavIsExpanded">

        <mat-selection-list [multiple]="false">
            <mat-list-option
                *ngFor="let navigationLink of navigationLinks"
                (click)="navigateTo(navigationLink)">
                {{ navigationLink }}
            </mat-list-option>
        </mat-selection-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
