
<mat-card>

    <mat-toolbar>

        <div>
            <button mat-button (click)="sideNavIsExpanded = !sideNavIsExpanded">
                <mat-icon> menu </mat-icon>
            </button>
        </div>

        <div id="title-button">
            <button mat-button (click)="navigateTo('Startseite')">
                <img src="assets/fitcom-logo.png">
            </button>
        </div>
        
        <div id="user-button">
            
            <button mat-button (click)="signIn()" *ngIf="!userService.user"> Anmelden </button>
            
           <div *ngIf="userService.user">

                <button mat-icon-button [matMenuTriggerFor]="userMenu">
                    <mat-icon> account_circle </mat-icon>
                </button>

                <mat-menu #userMenu="matMenu">

                    <div style="margin: 8px;"> Angemeldet als </div>
                    <div style="margin: 8px;"> {{ userService.user.firstName }} </div>

                    <mat-divider></mat-divider>

                    <button mat-menu-item (click)="showProfile()">
                        <mat-icon matSuffix> account_circle </mat-icon>
                        <span> Profil </span>
                    </button>
        
                    <button mat-menu-item (click)="editPassword()">
                        <mat-icon matSuffix> lock </mat-icon>
                        <span> Passwort ändern </span>
                    </button>
        
                    <button mat-menu-item (click)="userService.signOut()">
                        <mat-icon matSuffix color="warn"> logout </mat-icon>
                        <span> Abmelden </span>
                    </button>
        
                </mat-menu>

           </div>

        </div>


    </mat-toolbar>

    <mat-progress-bar mode="indeterminate" *ngIf="appService.isLoading"></mat-progress-bar>

</mat-card>

<mat-sidenav-container hasBackdrop="false">

    <mat-sidenav mode="over" [(opened)]="sideNavIsExpanded">

        <mat-selection-list [multiple]="false">
            <mat-list-option
                *ngFor="let navigationLink of navigationLinks"
                (click)="navigateTo(navigationLink)">
                {{ navigationLink }}
            </mat-list-option>
        </mat-selection-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
