
mat-dialog-content {
    margin: 0px;
    padding: 0px;
}

mat-dialog-content {
    margin-bottom: 8px;

    ::ng-deep {
        mat-form-field {
            display: block;
            min-width: 256px;
        }
    }
}
