
#content-container {
    display: flex;
    flex-wrap: wrap;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        border-radius: 16px;
        margin: 64px 64px 0px 0px;

        mat-icon {
            width: 64px;
            height: 64px;
            font-size: 64px;
        }
    }
}

.tab-icon {
    margin-right: 8px;
    font-size: 20px;
}
