
<app-page [title]="'Administration'" *ngIf="activeRoute.children.length === 0">

    <div id="content-container">

        <button mat-raised-button *ngFor="let tab of tabs; let index = index" (click)="didSelectTab(index)">
            <mat-icon> {{ tab.iconName }} </mat-icon>
            <div> {{ tab.title }} </div>
        </button>

    </div>

</app-page>

<mat-tab-group *ngIf="activeRoute.children.length > 0"
    [(selectedIndex)]="selectedTab"
    (selectedTabChange)="didSelectTab($event.index)"
    mat-align-tabs="end">

    <mat-tab *ngFor="let tab of tabs">
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon"> {{ tab.iconName }} </mat-icon>
            <span> {{ tab.title }} </span>
        </ng-template>
    </mat-tab>

</mat-tab-group>

<router-outlet></router-outlet>
