
<h1> Anmelden </h1>

<div>
            
    <mat-form-field appearance="outline" style="display: block;">
        <mat-label> E-Mail Adresse </mat-label>
        <input matInput type="email" [(ngModel)]="user.email" required>
    </mat-form-field>

    <mat-form-field appearance="outline" style="display: block;">
        <mat-label> Passwort </mat-label>
        <input matInput type="password" [(ngModel)]="user.password" required>
    </mat-form-field>

</div>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close> Abbrechen </button>
    <button mat-raised-button color="primary" (click)="signin()"> Anmelden </button>
</mat-dialog-actions>
