
:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

mat-card {
    padding: 0px;
    z-index: 2;

    #title-button {
        margin: auto;
        padding: 4px 16px;

        img {
            height: 38px;
        }
    }

    mat-progress-bar {
        position: absolute;
        height: 2px;
    }
}

mat-sidenav-container {
    flex: 1;

    mat-sidenav {
        padding: 8px 0px;
    }    
}
