
:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

mat-card {
    padding: 0px;
    z-index: 2;

    #title-button {
        margin: auto;
        padding: 4px 16px;

        img {
            height: 38px;
        }
    }
}

mat-sidenav-container {
    flex: 1;

    mat-sidenav {
        width: 215px;

        button {
            font-size: large;
        }
        
        #regular-button-container {
            margin: 8px 0px 256px 0px;
            
        }
        
        #bottom-button-container {
            position: absolute;
            bottom: 0px;
            padding-bottom: 8px;
            width: 100%;
            background-color: white;
        }
    }    
}
