
<mat-card>

    <mat-toolbar>

        <button mat-button (click)="sidenav.toggle()">
            <mat-icon> menu </mat-icon>
        </button>

        <button mat-button id="title-button">
            <img src="assets/fitcom-logo.png">
        </button>
        
        <button mat-button (click)="signin()" *ngIf="userService.jwt === undefined">
            <span> Anmelden </span>
        </button>
        
        <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="userService.jwt !== undefined">
            <mat-icon> account_circle </mat-icon>
        </button>

        <mat-menu #userMenu="matMenu">

            <button mat-menu-item (click)="showUserProfile()">
                <mat-icon matSuffix> account_circle </mat-icon>
                <span> Profil </span>
            </button>

            <button mat-menu-item (click)="editPassword()">
                <mat-icon matSuffix> lock </mat-icon>
                <span> Passwort ändern </span>
            </button>

            <button mat-menu-item (click)="signout()">
                <mat-icon matSuffix color="warn"> logout </mat-icon>
                <span> Abmelden </span>
            </button>

        </mat-menu>

    </mat-toolbar>

    <mat-progress-bar mode="indeterminate" *ngIf="appService.isLoading"></mat-progress-bar>

</mat-card>

<mat-sidenav-container hasBackdrop="false">

    <mat-sidenav #sidenav mode="over" [(opened)]="sideNavIsExpanded">
        <button mat-menu-item *ngFor="let navigationLink of navigationLinks" (click)="navigateTo(navigationLink)"> {{ navigationLink }} </button>
        <!-- <button mat-menu-item (click)="navigateTo('Administration')" *ngIf="userService.isAdministrator()"> Administration </button>
        <button mat-menu-item (click)="navigateTo('Fitnessstudio')" *ngIf="userService.isFitnessCenterStaff()"> Fitnessstudio </button> -->
    </mat-sidenav>

    <mat-sidenav-content>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>
