
:host {
    display: block;
    max-width: 1400px;
    margin: auto;
    padding: 32px 16px;

    app-header {
        padding-bottom: 32px;
    }

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
