
:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

mat-card {
    padding: 0px;
    z-index: 2;

    #title-button {
        margin: auto;
        font-size: large;
        padding: 4px 32px;
    }
}

mat-sidenav-container {
    flex: 1;

    mat-sidenav {
        padding-top: 8px;
        // padding-bottom: 128px;

        button {
            padding: 0px 32px;
        }


        #bottom-button-container {
            position: absolute;
            bottom: 8px;
            width: 100%;
            background-color: orange;

            // button {
                // padding: 0px 32px;
            // }
        }
    }
}
