
<mat-card>

    <mat-toolbar>

        <button mat-button (click)="sidenav.toggle()">
            <mat-icon> menu </mat-icon>
        </button>

        <button mat-button id="title-button">
            <img src="assets/fitcom-logo.png">
        </button>
        
        <button mat-button (click)="signin()" *ngIf="appService.jwt === undefined">
            <span> Anmelden </span>
        </button>
        
        <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="appService.jwt !== undefined">
            <mat-icon> account_circle </mat-icon>
        </button>

        <mat-menu #userMenu="matMenu">

            <button mat-menu-item (click)="editPassword">
                <mat-icon matSuffix> lock </mat-icon>
                <span> Passwort ändern </span>
            </button>

            <button mat-menu-item (click)="signout()">
                <mat-icon matSuffix color="warn"> logout </mat-icon>
                <span> Abmelden </span>
            </button>

        </mat-menu>

    </mat-toolbar>

    <mat-progress-bar mode="indeterminate" *ngIf="appService.isLoading"></mat-progress-bar>

</mat-card>

<mat-sidenav-container>

    <mat-sidenav #sidenav mode="side">
        
        <div id="regular-button-container">
            <button mat-menu-item
                *ngFor="let navigationDestinaton of navigationDestinations"
                (click)="navigateTo(navigationDestinaton)">
                {{ navigationDestinaton }}
            </button>
        </div>

        <div id="bottom-button-container">
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="navigateTo('Impressum')"> Impressum </button>
            <button mat-menu-item (click)="navigateTo('Datenschutzbestimmung')"> Datenschutzbestimmung </button>
        </div>

    </mat-sidenav>

    <mat-sidenav-content>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>
