name: Android Build Validation

on:
  push:
    branches: [ master, dev, pipeline-setup ]
  
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the code
      uses: actions/checkout@v2
      with:
        path: FitCom/android_app
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Change wrapper permissions
      run: chmod +x ./android_app/gradlew
    - name: Build with Gradle
      run: ./android_app/gradlew build